@page
@model Mini_Theatre.Pages.Manage.ManageUserModel
@{
    Layout = "_ManageLayout";
    ViewData["Title"] = "Manage User";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
@*             <a href="#" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Create New</span>
            </a> *@
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Verified Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Verified Email</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach(var u in Model.Users)
                        {
                            <tr>
                                <td>@u.FullName</td>
                                <td>@u.Email</td>
                                <td>@u.Username</td>
                                <td>@u.PhoneNumber</td>
                                <td>@u.Role.Name</td>
                                <td>@u.IsEmailVerified</td>
                                <th>
                                    @if (u.DeleteTime != null)
                                    {
                                        <a class="btn btn-secondary btn-circle btn-sm" disabled>
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-page="/Manage/ManageUser" asp-page-handler="Delete" asp-route-id="@u.Id" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    }
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
